/*---------------- reset all stiles ----------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover, a:visited, a:active, a:focus, input{
	outline: none;
}

/*----------------------------------------------- all-styles*/

@font-face {
	font-family: "Raleway Bold";
	src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
	font-family: "Raleway ExtraBold";
	src: url("../fonts/Raleway-ExtraBold.ttf");
}

@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway-Regular.ttf");
}

h1, h2, h3, h4{
	font-family: "Raleway Bold", sans-serif;
}

h5, h6{
	font-family: "Raleway", sans-serif;
}

p,span, input, li, .btn{
	font-family: "Raleway", sans-serif;
}

a {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	color: #000;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #000000;
}

.btn-active {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	background: #fff;
	border:none;
	outline: none;
	cursor: pointer;
}

.btn-pre-order {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 11px 16px;
	background: #0085FF;
	border-radius: 8px;
	border:none;
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #FFFFFF;
	outline: none;
	cursor: pointer;
}
