$main-bg: #fff;
$main-gray-bg: #E5E5E5;
$main-blue: #0085FF;
$light-gray: rgba(0, 0, 0, .33);
$medium-gray: rgba(0, 0, 0, .5);
$main-black: #000;

// sizes
$lgDesktopWidth : 1400px;
$mDesktopWidth: 1024px;
$tableWidth: 768px;
$phoneWidth: 320px;
